*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body
{
    background: white;
    min-height: 100vh;
}

ul
{
    list-style: none;
    margin: 0;
    width: 100;
    float: right;
    text-transform: uppercase;
}
           
li
{
    float: left;
    padding-right: 60px;
    font-size: 20px;
}

.header-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A629A;
    padding: 10px 40px;
}

.heading-faq
{
    padding-right: 0;
}

a:link,
a:visited,
a:hover,
a:active
{
    color: white;
    text-decoration: none;
    font-weight: 550;
    transition: color 0.3s;

}

a:hover
{
    color: #FF7F3E;
}

.logo
{
    height: 70px;
    width: auto;
}

.heading
{
    font-weight: 500px;
    text-align: center;
    font-size: 50px;
    color: #FF7F3E;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 40px 0px 0px;
    border-radius: 15px;
}

.search
{
    text-align: center;
    margin: 30px 0;
}
.search-bar
{
    width: 800px;
    height: 50px;
    text-align: center;
    border: 2px solid #2A629A;
    border-radius: 25px;
    font-size: 16px;
    padding: 0 20px;
}

.search-bar:focus
{
    outline: none;
    border-color: #FFDA78;
}

.scrollable-div
{
    width: 95%;
    margin: auto;
    height: 600px;
    overflow-y: auto;
    border: 2px solid #2A629A;                
    border-radius: 15px;

}

.faq-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 30px;
    width: 100%;
}
            
.faq-items
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border: 2px solid #2A629A;
    background-color: white;
    color: #003285;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 15px;
}

.faq-items:hover
{
    background-color: #FFDA78;
    color: #2A629A;
    transform: translateY(-10px);
    border-color: #003285;
    color: white;
}
        