* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background: #ccc6c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e409b;
  padding: 10px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo-img {
  height: 130px;
}

.navigation a {
  margin: 0 15px;
  color: #eae4d6;
  text-decoration: none;
  font-weight: 550;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #e4c14e;
}

.wrapper .title {
  text-align: center;
  margin-top: 40px;
}

.title h4 {
  padding: 20px;
  color: #b15a1f;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(15px);
}

.card_container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  justify-items: center;
  margin: 60px auto;
  max-width: 1000px;
}

.card {
  position: relative;
  width: 260px;
  height: 320px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: transform 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  bottom: -120px;
  width: 100%;
  height: 140px;
  backdrop-filter: blur(15px);
  background: rgba(0,0,0,0.5);
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: bottom 0.4s ease;
}

.card:hover .content {
  bottom: 0;
}

.contentBx h3 {
  color: #5da0ec;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contentBx h3 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
  text-transform: none;
  color: #f2dd9f;
}

.sci {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.sci li {
  list-style: none;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.card:hover .sci li {
  opacity: 1;
  transform: translateY(0);
}

.sci li a {
  color: #e9f0f4;
  font-size: 22px;
  transition: color 0.3s;
}

.sci li a:hover {
  color: #579bee;
}

