
/* PAGE STUFF

navy: #003285;
sky: #2A629A;
sunset: #FF7F3E;
yellow: #FFDA78;
white: #fdfaf5;
  
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: #003285;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
}

.header {
  width: 105%;
  height: 110px;
  display: flex;
  padding: 0px 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.logo-img {
  height: 140px;
  position: relative;
  gap: 10px;
}

.home-title {
  margin-right: auto;
}

.navigation {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #003285, #2A629A);
  padding: 1rem 3.5rem;
}

.nav-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.nav-left a {
  color: #FF7F3E;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-left a:hover {
  color: #ffffff; 
}

.nav-right {
  flex: 1;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  gap: 25px;
}

.nav-right a {
  color: #FFDA78; 
  font-weight: 550;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-right a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #FF7F3E;
  transition: width 0.3s ease;
}

.nav-right a:hover {
  color: #ffffff;
}

.nav-right a:hover::after {
  width: 100%;
}

.wrapper {
  width: 100%;
  box-shadow:rgb(0, 0, 0);
}

.wrapper .title {
  width: 100%;
  text-align: center;
  background: #2A629A;
  padding: 3rem 1rem 2rem;
  margin-top: 0px;
  margin-bottom: 50px;  
}

.title h4 {
  color: #FFDA78;
  font-size: 3rem;
  font-weight: 520;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0px 10px;
}

.help-title {
  width: fit-content;
  margin: 30px auto;
  background: #2A629A;
  padding: 20px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

.help-title h3 {
  color: #FFDA78;
  font-size: 2rem;
  font-weight: 500;
}

.title h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: 420px;
  opacity: 0.9;
  text-align: center;
  padding-top: 10px;
}

footer {
  text-align: center;
  padding: 1.5rem;
  margin-top: auto;
  font-size: 0.9rem;
  color: #FFDA78;
  background: var(--navy);
  border-top: 1px solid #0e2150;
}


.socialicons {
  display: flex;
  justify-content: center;
}

.socialicons a{
  text-decoration: none;
  padding: 10px;
  background-color: transparent;
  margin: 10px;
  border-radius: 50%;
}

.socialicons a i{
  font-size: 2em;
  color: rgb(27, 3, 92);
  opacity: 0.9;
}

.socialicons a:hover {
  background-color: transparent;
  transition: 0.2s;
}

.socialicons a:hover i{
  color: rgb(159, 130, 50);
  transition: 0.5s;
}

.footerbottom {
  background-color: #342222;
  padding: 20px;
  text-align: center;
}

.footerbottom p{
  color: rgb(0, 0, 0);
}


/* TEAM MEMBER THINGS! */

.card_container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  justify-items: center;
  margin: 60px auto;
  max-width: 1200px;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: transform 0.4s;
  background:rgb(60, 75, 104)
}

.card:hover {
  transform: translateY(-10px);
}

.imagebox {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.imagebox img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.content {
  position: absolute;
  bottom: -120px;
  width: 100%;
  height: 140px;
  backdrop-filter: blur(15px);
  background: rgba(0,0,0,0.5);
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: bottom 0.4s ease;
}

.card:hover .content {
  bottom: 0;
}

.contentbox h3 {
  color: #5da0ec;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}

.member-name {
  display: block;
  text-transform: uppercase;
  color: #5da0ec;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.member-role {
  display: block;
  color: #f2dd9f;
  font-size: 12px;
  font-weight: 300;
  text-transform: none;
}

.social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social li {
  list-style: none;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.card:hover .social li {
  opacity: 1;
  transform: translateY(0);
}

.social li a {
  color: #e9f0f4;
  font-size: 22px;
  transition: color 0.3s;
}

.social li a:hover {
  color: #579bee;
}


/* FORM STUFF!!! */

.form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: linear-gradient(45deg, #e3d385, #6799db);
  border-radius: 2.5em;
  padding: 30px;
  width: 600px;
  height: 400px;
  position: relative;
}

.form::before {
  content: '';
  background-image: linear-gradient(45deg, #7aa6e0, #ffb700);
  height: 410px;
  width: 608px;
  position: absolute;
  margin-top: -35px;
  margin-left: px;
  z-index: -1;
  border-radius: 2.7em;
  pointer-events: none;
}

.button {
  margin-top: 10px;
  font-family: DM Sans, sans-serif;
  font-size: 17px;
  background: #d68559;
  color: rgb(244, 235, 216);
  padding: 0.7em 5.5em;
  display: flex;
  align-items: flex-start;
  border: 2px solid #07050200;
  border-radius: 5em;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #d06924;
  background: #00000000;
  color: #d86e36;
}

.button:active {
  border: 2px solid #ae4b0e;
  background: #e3a60b
}

.input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #794b24;
  border-bottom: 1px solid #6b461c;
  outline: none;
  background-color: transparent;
  color: #2a2c6d;
  font-family: DM Sans, sans-serif;
  transition: 0.2s;
}

.input:focus {
  border: 1px solid #b07e02;
  border-bottom: 1px solid #d8aa12;
  background-color: transparent;
  color: rgb(106, 69, 13);
}

.input::placeholder {
  color: #3a2c09;
}

.textarea {
  font-family: DM Sans, sans-serif;
  width: calc(100% - 10px);
  padding: 8px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #6f5513;
  border-bottom: 1px solid #614f13;
  outline: none;
  background-color: transparent;
  color: #162468;
}

.textarea::placeholder {
  color: #351f09;
}

.textarea:focus {
  border: 1px solid #a37f24;
  border-bottom: 1px solid #c89a25;
  background-color: transparent;
  color: rgb(106, 69, 13);
}


.lang-switch {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #FFDA7A;
  margin-left: 1rem;
  gap: 4px;
}

.lang-switch span {
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s ease;
  user-select: none;
}

.lang-switch span:hover {
  opacity: 1;
  text-decoration: underline;
}

.divider {
  opacity: 0.5;
}
